<div class="card text-center">
    <div class="card-header" style="font-weight: bolder; background-color: black; color: white;">
      Contact Us
    </div>
    <br>

    <div class="card-body" style="background-color: chartreuse;">
      <h5 class="card-title" style="font-weight: bolder;">Central Campus</h5>
      <p class="card-text">Contact the Christ Merch of Christ Central Campus</p>
      <a href="mailto:mail@christuniversity.in" class="btn btn-primary">Email <i class="bi bi-envelope-fill"></i></a>
    </div>
  </div>

  <br>
  <br>
  <br>


  <div class="card text-center">
    <div class="card-body" style="background-color: aqua;">
      <h5 class="card-title" style="font-weight: bolder;">Bannerghata Campus</h5>
      <p class="card-text">Contact the Christ Merch of Christ Bannerghata Campus</p>
      <a href="mailto:mail@christuniversity.in" class="btn btn-primary">Email <i class="bi bi-envelope-fill"></i></a>
    </div>
  </div>

  <br>
  <br>
  <br>


  <div class="card text-center">
    <div class="card-body" style="background-color: orange;">
      <h5 class="card-title" style="font-weight: bolder;">Kengeri Campus</h5>
      <p class="card-text">Contact the Christ Merch Of Christ Kengeri Campus</p>
      <a href="mailto:mail@christuniversity.in" class="btn btn-primary">Email <i class="bi bi-envelope-fill"></i></a>
    </div>
  </div>